In [64]:
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017')
client.database_names()

['admin', 'data_diggers', 'enron', 'local']

# merge all of the dataset to one

In [65]:
import json
with open('../cities.json', 'r') as f:
    cities = json.load(f)
db = client.data_diggers
collection = db.training_data
collection.drop()
collection.insert_many(cities)
collection.count()

1742

In [66]:
# population_collection
new_collection = db.population_collection
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'population': float(collect['population'])}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'population': float(collect['population'])}})

{'_id': ObjectId('5a4d4cf57c4c7b78c0dc1768'), 'city_name': 'Aberdeen', 'countries': 'United Kingdom', 'population': '222793', 'N_population': '-0.260979594'}

In [67]:
# house_price
new_collection = db.houseprice_collection
# print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'house_price': collect['average_price']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'house_price': collect['average_price']}})
#         print(result1.matched_count)

In [68]:
# school_number
new_collection = db.education
# print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'school_number': collect['school_number_normalize_maxmin']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'school_number': collect['school_number_normalize_maxmin']}})
#         print(result1.matched_count)

In [69]:
# unemployment
new_collection = db.unemployment
# print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'unemployment': float(collect['Unemployment_rate'])}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'unemployment': float(collect['Unemployment_rate'])}})
#         print(result1.matched_count)

In [70]:
# trafficNoise
new_collection = db.trafficNoise
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'traffic_noise': collect['Number of people exposed to traffic noise']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'traffic_noise': collect['Number of people exposed to traffic noise']}})
#         print(result1.matched_count)

{'_id': ObjectId('5a4d4cf47c4c7b78c0dc157e'), 'city_name': 'Stockton-on-Tees', 'Number of people exposed to traffic noise': 9100.0, 'Normalized value of Number of people exposed to traffic noise': -0.26221699976832685}

In [71]:
# hospitals
new_collection = db.hospitals
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'hospitals_number': collect['hospitals_number_normalize_maxmin']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'hospitals_number': collect['hospitals_number_normalize_maxmin']}})
#         print(result1.matched_count)

{'_id': ObjectId('5a4d4cf87c4c7b78c0dc25d5'), 'city_name': 'Barnstaple', 'hospitals_number_normalize_maxmin': 1}

In [72]:
# gva_collection
new_collection = db.gva_collection
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'GVA': float(collect['GVA_per_worker_per_month'])}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'GVA': float(collect['GVA_per_worker_per_month'])}})
#         print(result1.matched_count)

{'_id': ObjectId('5a4d4cf77c4c7b78c0dc1960'), 'city_name': 'Aberdeen', 'GVA_per_worker_per_month': '56800', 'GVA_norm': '1.6172106581', 'GVA_max_min_norm': '0.6071428571'}

In [73]:
#UniRank
new_collection = db.UniRank
# for i in new_collection.find():
#     print(i)
print(new_collection.count())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'number_of_universities': collect['Number_of_universities']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'number_of_universities':collect['Number_of_universities']}})
#         print(result1.matched_count)

56

In [74]:
#happinessRank
new_collection = db.happinessRank
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'happiness': float(collect['Average happiness rating'])}})
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'sample':int(collect['Sample size'])}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'happiness':float(collect['Average happiness rating'])}})
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'sample':int(collect['Sample size'])}})
#         print(result1.matched_count)

{'_id': ObjectId('5a4d4cf57c4c7b78c0dc15ba'), 'city_name': 'United Kingdom', 'Average happiness rating': 7.38, 'Sample size': 304740.0, 'Normalized value of happiness ranking': 0.38}

In [75]:
# railway_station
new_collection = db.railway_station
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'stations_number': collect['stations_number_normalize_maxmin']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'stations_number':collect['stations_number_normalize_maxmin']}})
#         print(result1.matched_count)

{'_id': ObjectId('5a4d4cf87c4c7b78c0dc2955'), 'city_name': 'Mendip', 'stations_number_normalize_maxmin': 1}

In [76]:
# pubs
new_collection = db.pubs
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'pubs_number': collect['pubs_number_normalize_maxmin']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'pubs_number':collect['pubs_number_normalize_maxmin']}})
#         print(result1.matched_count)

{'_id': ObjectId('5a4d4cf87c4c7b78c0dc27dd'), 'city_name': 'Mendip', 'pubs_number_normalize_maxmin': 171}

In [77]:
#roadTraffic
new_collection = db.roadTraffic
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'road_traffic_2015': collect['Delay 2015']}})
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'road_traffic_2016': collect['Delay 2016']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'road_traffic_2015':collect['Delay 2015']}})
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'road_traffic_2016':collect['Delay 2016']}})
#         print(result1.matched_count)

{'_id': ObjectId('5a4d4cf47c4c7b78c0dc14df'), 'city_name': 'County Durham', 'Delay 2015': 21.2, 'Delay 2016': 22.4, 'Delay_2015_normalized_value': -0.8983897493709471, 'Delay_2016_normalized_value': -0.8705272692129561}

In [78]:
#TotalJobs
new_collection = db.TotalJobs
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'total_jobs': collect['total_jobs']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'total_jobs':collect['total_jobs']}})
#         print(result1.matched_count)

{'_id': ObjectId('5a4d4cf47c4c7b78c0dc14a1'), 'city_name': 'Aberdeen', 'total_jobs': 176400.0, 'total_jobs_normalized_value': -0.13139689528109025}

In [79]:
# weather
new_collection = db.weather
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'SummerDay_ave_temperature': collect['SummerDay_ave_temperature'],
                                                                               'SummerNight_ave_temperature': collect['SummerNight_ave_temperature'],
                                                                               'WinterDay_ave_temperature': collect['WinterDay_ave_temperature'],
                                                                               'WinterNight_ave_temperature': collect['WinterNight_ave_temperature'],
                                                                               'FrostDay_perYear': collect['FrostDay_perYear'],
                                                                               'Rainfall_perMon': collect['Rainfall_perMon'],
                                                                               'Sunshine_perMon': collect['Sunshine_perMon'],
                                                                              }})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'SummerDay_ave_temperature': collect['SummerDay_ave_temperature'],
                                                                               'SummerNight_ave_temperature': collect['SummerNight_ave_temperature'],
                                                                               'WinterDay_ave_temperature': collect['WinterDay_ave_temperature'],
                                                                               'WinterNight_ave_temperature': collect['WinterNight_ave_temperature'],
                                                                               'FrostDay_perYear': collect['FrostDay_perYear'],
                                                                               'Rainfall_perMon': collect['Rainfall_perMon'],
                                                                               'Sunshine_perMon': collect['Sunshine_perMon'],
                                                                              }})
#     print(collect['city_name'])

{'_id': ObjectId('5a4d4cf97c4c7b78c0dc2ada'), 'city_name': 'Aberdeen', 'SummerDay_ave_temperature': 18.218181818181815, 'SummerDay_ave_temperature_norm': -0.3521141851983764, 'SummerNight_ave_temperature': 10.248484848484848, 'SummerNight_ave_temperature_norm': -0.7521238470129499, 'WinterDay_ave_temperature': 7.121875000000001, 'WinterDay_ave_temperature_norm': -0.5557403332744789, 'WinterNight_ave_temperature': 0.7562500000000001, 'WinterNight_ave_temperature_norm': -1.0494076046377836, 'FrostDay_perYear': 52.0, 'FrostDay_perYear_norm': 0.8851094209994033, 'Rainfall_perMon': 63.06899224806201, 'Rainfall_perMon_norm': -0.5691616903369965, 'Sunshine_perMon': 119.6046511627907, 'Sunshine_perMon_norm': -0.20515482811430466}

In [80]:
all_found =  collection.find({
                            'house_price':{'$exists':'true'},
                              'total_jobs':{'$exists':'true'},
#                               'school_number':{'$exists':'true'},
                              'unemployment':{'$exists':'true'},
                              'traffic_noise':{'$exists':'true'},
#                               'hospitals_number':{'$exists':'true'},
                              'population':{'$exists':'true'},
                              'GVA':{'$exists':'true'},
#                               'stations_number':{'$exists':'true'},
                              'happiness':{'$exists':'true'},
#                               'pubs_number':{'$exists':'true'},
                              'road_traffic_2016':{'$exists':'true'},
#                               'SummerDay_ave_temperature':{'$exists':'true'},
                             })

print(all_found.count())

84