# reference

## reference

In [163]:
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017')
client.database_names()
# Create database and collection objects for convenience
db = client.data_diggers
collection = db.reference

In [164]:
import json
with open('../cities.json', 'r') as f:
    cities = json.load(f)
collection.drop()
collection.insert_many(cities)

In [165]:
print(collection.find_one())

{'_id': ObjectId('5a253cad7c4c7b4e8a60aa66'), 'city_name': 'Aberdeen', 'latitude': '57.13514', 'region': 'Aberdeen City', 'uk_region': 'Scotland', 'longitude': '-2.11731'}

## education

In [166]:
collection = db.education
import json
with open('../normalize_dataset/education.json', 'r') as f:
    education = json.load(f)

l = []
for edu in education:
    l.append({'city_name':edu,'school_number_normalize_maxmin':education[edu]})

collection.drop()
collection.insert_many(l)
collection.count()

1323

## hospital

In [167]:
collection = db.hospitals
import json
with open('../normalize_dataset/hospitals.json', 'r') as f:
    hospitals = json.load(f)

l = []
for hos in hospitals:
    l.append({'city_name':hos,'hospitals_number_normalize_maxmin':hospitals[hos]})

collection.drop()
collection.insert_many(l)
collection.count()

520

## pubs

In [168]:
collection = db.pubs
import json
with open('../normalize_dataset/pubs.json', 'r') as f:
    pubs = json.load(f)

l = []
for pub in pubs:
    l.append({'city_name':pub,'pubs_number_normalize_maxmin':pubs[pub]})
# l
collection.drop()
collection.insert_many(l)
collection.count()

376

## rail_way station

In [169]:
collection = db.railway_station
import json
with open('../normalize_dataset/railway_station.json', 'r') as f:
    stations = json.load(f)

l = []
for station in stations:
    l.append({'city_name':station,'stations_number_normalize_maxmin':stations[station]})

collection.drop()
collection.insert_many(l)
collection.count()

389

In [170]:
db.collection_names()

['houseprice_collection',
 'education',
 'training_data',
 'unemployment',
 'trafficNoise',
 'hospitals',
 'population_collection',
 'gva_collection',
 'UniRank',
 'happinessRank',
 'railway_station',
 'pubs',
 'roadTraffic',
 'test',
 'reference',
 'TotalJobs']

# total

In [171]:
collection = db.training_data
collection.drop()
collection.insert_many(cities)
collection.count()

1742

In [172]:
# house_price
new_collection = db.houseprice_collection
# print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'house_price': collect['Normalization']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'house_price': collect['Normalization']}})
#         print(result1.matched_count)

In [173]:
# school_number
new_collection = db.education
# print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'school_number': collect['school_number_normalize_maxmin']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'school_number': collect['school_number_normalize_maxmin']}})
#         print(result1.matched_count)

In [174]:
# unemployment
new_collection = db.unemployment
# print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'unemployment': float(collect['Unemployment_norm'])}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'unemployment': float(collect['Unemployment_norm'])}})
#         print(result1.matched_count)

In [175]:
# trafficNoise
new_collection = db.trafficNoise
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'traffic_noise': collect['Normalized value of Number of people exposed to traffic noise']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'traffic_noise': collect['Normalized value of Number of people exposed to traffic noise']}})
#         print(result1.matched_count)

{'_id': ObjectId('5a24a28b7c4c7b3fcf0f9ed7'), 'city_name': 'Stockton-on-Tees', 'Number of people exposed to traffic noise': 9100.0, 'Normalized value of Number of people exposed to traffic noise': -0.26221699976832685}

In [176]:
# hospitals
new_collection = db.hospitals
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'hospitals_number': collect['hospitals_number_normalize_maxmin']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'hospitals_number': collect['hospitals_number_normalize_maxmin']}})
#         print(result1.matched_count)

{'_id': ObjectId('5a253cb27c4c7b4e8a60b65f'), 'city_name': 'Barnstaple', 'hospitals_number_normalize_maxmin': 0.0}

In [177]:
# population_collection
new_collection = db.population_collection
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'population': float(collect['N_population'])}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'population': float(collect['N_population'])}})

{'_id': ObjectId('5a249f677c4c7b3f9cbbc093'), 'city_name': 'Aberdeen', 'countries': 'United Kingdom', 'population': '222793', 'N_population': '-0.260979594'}

In [178]:
# gva_collection
new_collection = db.gva_collection
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'GVA': float(collect['GVA_max_min_norm'])}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'GVA': float(collect['GVA_max_min_norm'])}})
#         print(result1.matched_count)

{'_id': ObjectId('5a249f8b7c4c7b3f9cbbc28b'), 'city_name': 'Aberdeen', 'GVA_per_worker_per_month': '56800', 'GVA_norm': '1.6172106581', 'GVA_max_min_norm': '0.6071428571'}

In [179]:
#UniRank
new_collection = db.UniRank
# for i in new_collection.find():
#     print(i)
print(new_collection.count())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'best_Uni_ranking': collect['total_jobs_normalized_value']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'best_Uni_ranking':collect['total_jobs_normalized_value']}})
#         print(result1.matched_count)

56

In [180]:
#happinessRank
new_collection = db.happinessRank
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'happiness': float(collect['Normalized value of happiness ranking'])}})
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'sample':int(collect['Sample size'])}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'happiness':float(collect['Normalized value of happiness ranking'])}})
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'sample':int(collect['Sample size'])}})
#         print(result1.matched_count)

{'_id': ObjectId('5a2539037c4c7b516419fefe'), 'city_name': 'United Kingdom', 'Average happiness rating': 7.38, 'Sample size': 304740.0, 'Normalized value of happiness ranking': 0.38}
0
0
0
0
0
0
0
1
0
0
0
1
1
1
0
0
1
0
1
0
0
0
0
0
0
0
0
0
1
1
0
0
1
1
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
1
0
1
0
0
0
0
1
0
0
1
1
0
1
0
0
0
0
1
0
0
0
0
0
0
1
1
0
1
0
1
0
0
1
0
1
1
0
1
1
0
0
0
1
0
0
0
0
0
1
1
1
0
1
1
0
1
0
1
0
0
1
0
0
0
0
1
1
0
1
0
0
0
1
0
0
1
0
0
0
1
0
0
0
0
0
0
1
0
0
1
0
1
1
0
0
0
1
0
1
1
1
1
1
1
1
1
1
0
1
1
0
1
0
0
1
0
0
0
0
0
0
1
1
1
0
0
0
0
1
0
1
0
1
0
0
0
1
1
1
1
1
0
1
1
0
0
0
0
0
0
1
0
0
0
0
0
1
0
1
0
0
0
0
0
1
0
0
1
1
1
0
1
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [181]:
# railway_station
new_collection = db.railway_station
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'stations_number': collect['stations_number_normalize_maxmin']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'stations_number':collect['stations_number_normalize_maxmin']}})
#         print(result1.matched_count)

{'_id': ObjectId('5a253cb47c4c7b4e8a60b9df'), 'city_name': 'Mendip', 'stations_number_normalize_maxmin': 0.0}
0
1
0
1
0
0
0
1
0
1
0
1
0
0
1
0
1
0
0
0
0
0
0
1
1
0
0
0
0
0
1
0
0
1
1
1
0
0
0
0
1
0
1
0
0
0
0
0
1
1
0
1
0
0
1
0
0
1
0
0
0
1
0
0
0
0
0
1
0
0
0
1
0
0
1
0
0
0
1
0
0
1
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
1
0
1
1
0
1
0
0
0
0
0
0
1
0
1
0
1
0
0
0
0
0
1
0
0
0
1
0
0
1
1
0
0
1
0
0
1
0
0
0
0
1
0
0
0
0
0
1
0
0
1
1
1
1
0
0
0
0
0
1
0
1
0
0
1
0
1
1
0
0
0
0
0
1
1
0
0
0
0
1
1
0
0
0
0
0
0
0
0
1
0
1
1
1
1
0
0
1
0
0
0
0
1
0
1
0
0
0
0
0
0
0
1
0
0
0
0
0
1
0
0
1
0
1
1
1
0
1
0
1
0
1
0
0
0
0
0
1
0
1
0
1
0
1
0
0
1
0
1
0
1
0
1
0
1
0
1
0
0
1
0
1
1
0
0
0
1
0
1
0
1
0
0
0
1

In [182]:
# pubs
new_collection = db.pubs
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'pubs_number': collect['pubs_number_normalize_maxmin']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'pubs_number':collect['pubs_number_normalize_maxmin']}})
#         print(result1.matched_count)

{'_id': ObjectId('5a253cb37c4c7b4e8a60b867'), 'city_name': 'Mendip', 'pubs_number_normalize_maxmin': 0.25073746312684364}
0
1
1
0
0
1
0
0
1
0
1
0
0
0
1
0
1
0
0
0
0
0
0
1
0
0
0
0
1
0
0
0
1
1
1
0
0
0
1
1
0
0
1
0
0
0
1
0
0
0
1
0
1
0
0
0
1
0
0
0
0
1
0
0
0
0
0
0
1
0
0
0
0
1
0
0
1
1
0
1
0
0
0
1
0
0
0
0
1
0
0
0
0
0
0
1
0
1
1
0
1
0
0
0
0
0
1
1
0
1
0
1
0
1
1
0
0
0
0
0
0
1
0
1
1
0
0
1
0
0
0
1
0
1
0
0
1
0
1
1
0
0
0
1
0
1
0
0
1
1
0
1
0
0
1
1
0
0
0
1
0
1
0
0
0
0
0
0
1
0
1
1
1
1
0
1
0
0
0
0
0
0
1
1
0
0
0
1
0
0
0
0
0
0
0
0
0
0
1
1
1
0
0
1
0
0
0
1
0
1
0
0
0
1
0
0
0
0
1
0
1
0
0
1
1
0
0
0
1
1
1
0
0
1
1
1
1
0
1
0
1
1

In [185]:
#roadTraffic
new_collection = db.roadTraffic
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'road_traffic_2015': collect['Delay_2015_normalized_value']}})
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'road_traffic_2016': collect['Delay_2016_normalized_value']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'road_traffic_2015':collect['Delay_2015_normalized_value']}})
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'road_traffic_2016':collect['Delay_2016_normalized_value']}})
#         print(result1.matched_count)

{'_id': ObjectId('5a2538507c4c7b516419fe5f'), 'city_name': 'County Durham', 'Delay 2015': 21.2, 'Delay 2016': 22.4, 'Delay_2015_normalized_value': -0.8983897493709471, 'Delay_2016_normalized_value': -0.8705272692129561}

In [186]:
#TotalJobs
new_collection = db.TotalJobs
print(new_collection.find_one())
collects = new_collection.find()
for collect in collects:
    result = collection.update_many({'region': collect['city_name']},{'$inc': {'total_jobs': collect['total_jobs_normalized_value']}})
    if result.matched_count == 0:
        result1 = collection.update_one({'city_name': collect['city_name']},{'$inc': {'total_jobs':collect['total_jobs_normalized_value']}})
#         print(result1.matched_count)

{'_id': ObjectId('5a24a0f47c4c7b3fcf0f9d5b'), 'city_name': 'Aberdeen', 'total_jobs': 176400.0, 'total_jobs_normalized_value': -0.13139689528109025}

In [188]:
all_found =  collection.find({
                            'house_price':{'$exists':'true'},
                              'total_jobs':{'$exists':'true'},
                              'school_number':{'$exists':'true'},
                              'unemployment':{'$exists':'true'},
                              'traffic_noise':{'$exists':'true'},
                              'hospitals_number':{'$exists':'true'},
                              'population':{'$exists':'true'},
                              'GVA':{'$exists':'true'},
                              'stations_number':{'$exists':'true'},
                              'happiness':{'$exists':'true'},
                              'pubs_number':{'$exists':'true'},
                              'road_traffic_2016':{'$exists':'true'},
#                               'best_Uni_ranking':{'$exists':'true'}
                             })

print(all_found.count())

82